#history-head{
  text-align: center;
  padding-top: 30px;
  font-size: 40px;
  color: #ffffcc;
  text-decoration: underline;
}

#missionstatement{
  padding-right: 75px;
  color: #ffffcc;
}

#gif{
  display: block;
  margin: 0;
  text-align: center;
  padding-top: 30px;
}

#leaders{
  padding-right: 40px;
  color: #ffffcc;
  font-size: 30px;
}