/* line 1, ../sass/components/_general.scss */
body {
  background-color: #900;
}

/* line 5, ../sass/components/_general.scss */
h1 {
  font-size: 140px;
  color: #FFFFCC;
  display: inline;
  font-family: Times;
}

/* line 12, ../sass/components/_general.scss */
h2 {
  display: inline;
  padding-left: 220px;
  font-family: times;
  font-size: 80px;
  color: #FFFFCC;
}

/* line 20, ../sass/components/_general.scss */
ul {
  list-style-type: none;
}

/* line 24, ../sass/components/_general.scss */
header {
  background-color: #2980b9;
  padding: .5em 0;
  text-align: center;
  color: #fff;
}

/* line 31, ../sass/components/_general.scss */
a, a:visited {
  color: #228FEA;
  text-decoration: none;
}

/* line 36, ../sass/components/_general.scss */
a:hover {
  color: #AACAF9;
  border-bottom: 1px dashed #228FEA;
}

/* line 41, ../sass/components/_general.scss */
img {
  max-width: 100%;
}

/* line 1, ../sass/components/_nav.scss */
#nav {
  width: 100%;
  float: left;
  padding-top: 0px;
  list-style: none;
  background-color: #ffffcc;
  border-bottom: 7px solid #000;
  border-top: 7px solid #000;
  text-align: center;
  display: inline;
  font-size: 30px;
}

/* line 14, ../sass/components/_nav.scss */
#nav li {
  margin: 0px;
  display: inline;
  padding-left: 30px;
}

/* line 1, ../sass/components/_home.scss */
#home-pic {
  display: block;
  text-align: center;
  margin: 0px;
}

/* line 7, ../sass/components/_home.scss */
#home-pic img {
  padding-top: 20px;
  font-size: 200px;
}

/* line 12, ../sass/components/_home.scss */
.intro {
  text-align: center;
  font-weight: bold;
  font-style: italic;
  color: #ffffcc;
  font-size: 30px;
  padding-top: 20px;
}

/* line 21, ../sass/components/_home.scss */
#home-p {
  margin-left: 550px;
  margin-right: 550px;
  text-decoration: none;
  color: #ffffcc;
}

/* line 27, ../sass/components/_home.scss */
.title {
  text-align: center;
  font-size: 20px;
  color: #ffffcc;
}

/* line 33, ../sass/components/_home.scss */
.home-title {
  text-decoration: underline;
}

/* line 1, ../sass/components/_pages.scss */
#history-head {
  text-align: center;
  padding-top: 30px;
  font-size: 40px;
  color: #ffffcc;
  text-decoration: underline;
}

/* line 9, ../sass/components/_pages.scss */
#missionstatement {
  padding-right: 75px;
  color: #ffffcc;
}

/* line 14, ../sass/components/_pages.scss */
#gif {
  display: block;
  margin: 0;
  text-align: center;
  padding-top: 30px;
}

/* line 21, ../sass/components/_pages.scss */
#leaders {
  padding-right: 40px;
  color: #ffffcc;
  font-size: 30px;
}

/* HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* line 17, ../sass/components/_other.scss */
html,
button,
input,
select,
textarea {
  color: #222;
}

/* line 21, ../sass/components/_other.scss */
html {
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
/* line 32, ../sass/components/_other.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 37, ../sass/components/_other.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
/* line 46, ../sass/components/_other.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
/* line 63, ../sass/components/_other.scss */
audio,
canvas,
img,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
/* line 71, ../sass/components/_other.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
/* line 81, ../sass/components/_other.scss */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
/* line 89, ../sass/components/_other.scss */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
/* line 104, ../sass/components/_other.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

/* line 112, ../sass/components/_other.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
/* line 123, ../sass/components/_other.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
/* line 132, ../sass/components/_other.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
/* line 149, ../sass/components/_other.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
/* line 162, ../sass/components/_other.scss */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* line 179, ../sass/components/_other.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 184, ../sass/components/_other.scss */
.clearfix:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* line 193, ../sass/components/_other.scss */
.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* line 220, ../sass/components/_other.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 228, ../sass/components/_other.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 232, ../sass/components/_other.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 236, ../sass/components/_other.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  /* line 246, ../sass/components/_other.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 251, ../sass/components/_other.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 256, ../sass/components/_other.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  /* line 261, ../sass/components/_other.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 265, ../sass/components/_other.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 275, ../sass/components/_other.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 281, ../sass/components/_other.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/* normalize.css v1.1.3 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
/* line 307, ../sass/components/_other.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
/* line 317, ../sass/components/_other.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 328, ../sass/components/_other.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
/* line 338, ../sass/components/_other.scss */
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 353, ../sass/components/_other.scss */
html {
  font-size: 100%;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `font-family` inconsistency between `textarea` and other form
 * elements.
 */
/* line 368, ../sass/components/_other.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/**
 * Address margins handled incorrectly in IE 6/7.
 */
/* line 376, ../sass/components/_other.scss */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
/* line 388, ../sass/components/_other.scss */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 397, ../sass/components/_other.scss */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address font sizes and margins set differently in IE 6/7.
 * Address font sizes within `section` and `article` in Firefox 4+, Safari 5,
 * and Chrome.
 */
/* line 411, ../sass/components/_other.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 416, ../sass/components/_other.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 421, ../sass/components/_other.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 426, ../sass/components/_other.scss */
h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}

/**
 * Address styling not present in IE 7/8/9, Safari 5, and Chrome.
 */
/* line 435, ../sass/components/_other.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
 */
/* line 444, ../sass/components/_other.scss */
b,
strong {
  font-weight: bold;
}

/* line 448, ../sass/components/_other.scss */
blockquote {
  margin: 1em 40px;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
/* line 456, ../sass/components/_other.scss */
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 * Known issue: no IE 6/7 normalization.
 */
/* line 465, ../sass/components/_other.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 6/7/8/9.
 */
/* line 475, ../sass/components/_other.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address margins set differently in IE 6/7.
 */
/* line 485, ../sass/components/_other.scss */
p,
pre {
  margin: 1em 0;
}

/**
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
/* line 496, ../sass/components/_other.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
/* line 506, ../sass/components/_other.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/**
 * Address CSS quotes not supported in IE 6/7.
 */
/* line 516, ../sass/components/_other.scss */
q {
  quotes: none;
}

/**
 * Address `quotes` property not supported in Safari 4.
 */
/* line 525, ../sass/components/_other.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 534, ../sass/components/_other.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 543, ../sass/components/_other.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 550, ../sass/components/_other.scss */
sup {
  top: -0.5em;
}

/* line 554, ../sass/components/_other.scss */
sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Lists
   ========================================================================== */
/**
 * Address margins set differently in IE 6/7.
 */
/* line 569, ../sass/components/_other.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

/* line 573, ../sass/components/_other.scss */
dd {
  margin: 0 0 0 40px;
}

/**
 * Address paddings set differently in IE 6/7.
 */
/* line 583, ../sass/components/_other.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/**
 * Correct list images handled incorrectly in IE 7.
 */
/* line 592, ../sass/components/_other.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
/* line 606, ../sass/components/_other.scss */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
/* line 615, ../sass/components/_other.scss */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
/* line 627, ../sass/components/_other.scss */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Correct margin displayed oddly in IE 6/7.
 */
/* line 639, ../sass/components/_other.scss */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
/* line 647, ../sass/components/_other.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
/* line 659, ../sass/components/_other.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
/* line 676, ../sass/components/_other.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 689, ../sass/components/_other.scss */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
/* line 701, ../sass/components/_other.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
/* line 718, ../sass/components/_other.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 729, ../sass/components/_other.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
/* line 741, ../sass/components/_other.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 754, ../sass/components/_other.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 767, ../sass/components/_other.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
/* line 776, ../sass/components/_other.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
/* line 786, ../sass/components/_other.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 799, ../sass/components/_other.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 2, ../sass/components/_game.scss */
#bigPicture {
  border: 3px #7A0000 solid;
}

/* line 7, ../sass/components/_game.scss */
#largeImage {
  height: 210px;
  width: 500px;
  overflow: auto;
  border: 3px #7A0000 solid;
  background-color: #FFDDB8;
  text-align: left;
}

/* line 17, ../sass/components/_game.scss */
#theForm {
  text-align: left;
  width: 300px;
}

/* line 23, ../sass/components/_game.scss */
form {
  background: #FFDDB8;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 3px solid #7A0000;
  width: 15em;
  overflow: none;
  height: 680px;
  margin-left: 3px;
}

/* line 35, ../sass/components/_game.scss */
fieldset {
  border: 0px;
  font-size: large;
}

/* line 41, ../sass/components/_game.scss */
label {
  float: none;
  width: 12em;
  display: block;
}

/* line 48, ../sass/components/_game.scss */
p.info {
  color: #7A0000;
  text-align: left;
  margin-top: 0px;
}

/* line 55, ../sass/components/_game.scss */
input {
  border: 3px solid #ddd;
}

/* line 60, ../sass/components/_game.scss */
table {
  margin-right: auto;
  margin-left: auto;
}
